.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    background-color: burlywood;
    border: outset;
    border-radius: 10px;
    border-radius: 10px;
    
    
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
    
  
    
}

.navbar__logout {
    margin-left: auto;
}

.navbar__link {
color: black;
}
